* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  padding: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  gap: 500px;
}
.logo img{
    height: 40px;
    width: 70px;
}
.mainbanner{
    margin-top: 2px;
}
.childbanner img{
    width: 1351px;
}
.table{
  background-color: rgb(3, 3, 27);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
 
}

.table ul {
  list-style-type: none;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}
.image img{
  width: 300px;
  height: 200px;
}
.image h2{
  color: red;
}

.maincard{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.childcard{
  width: 300px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.cardimg img{
  height: 200px;
  width: 200px;
}
