


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}
.linkslist{
  text-decoration: none;
  color: black;
  padding: 5px;
}

.linkslist:hover{
  background-color: black;
  color: white;
  transition: all 0.2s;
  border-radius: 5px;
  
}

.logo img{
    height: 40px;
    width: 70px;
}
.mainbanner{
    margin-top: 2px;
}
.childbanner img{
    width: 1351px;
}
.table{
  background-color: rgb(3, 3, 27);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
 
}

.table ul {
  list-style-type: none;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}
.image img{
  width: 300px;
  height: 200px;
}
.image h2{
  color: red;
}

.maincard{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.childcard{
  width: 300px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.cardimg img{
  height: 200px;
  width: 200px;
}

.childcard:hover{
  transform: scale(0.9);
  transition: 0.1s;
}
.button{
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.mainstate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}
.objmain{
  margin: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.objcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 350px;
  height: 320px;
  
}
.objimg{
  padding: 5px;
}
.objcontent h3{
  margin-left: 20px;
}
.buttons{
  background-color: black;
  color: white;
  padding: 8px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.maincircle{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.circle{
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
}
.maintext{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.text{
  padding: 5px;
}

.mainbox{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.squarebox{
  width: 200px;
  height: 200px;
  background-color: blue;
}

.square{
  background-color: yellow;
  width: 150px;
  height: 150px;
}
.rectangle{
  background-color: red;
  width: 200px;
  height: 100px;
}
.triangle{
 width: 0;
 height: 0;
 border-left: 70px solid transparent;
 border-right: 70px solid transparent;
 border-bottom: 140px solid green;  
}